html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

path {
  fill: #2a354d;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.rsm-geography {
  outline: none;
  fill: #427D9D;
}
.rsm-geography:focus{
  fill: #9BBEC8;
}
.marker-article-hidden{
  visibility: hidden;
}
.marker-article{
  visibility: visible;
}
.marker-click{
  cursor: pointer;
}
.article{
  z-index: 10;
}
